@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie);
/*.tarefas-menu {
	list-style:none;
	width:100%;
	margin:10px auto;
	padding:0;
}
.tarefas-item {
	position:relative;
	padding:10px;
}
.tarefas-item:nth-child(2n) {
	background-color:rgb(240,240,240);
}
.tarefas-item:nth-child(2n+1) {
	background-color: rgb(200,200,200);
}
.tarefas-remover {
	position:absolute;
	top:1px;
	right:22px;
}
.tarefas-menu .tarefas-remover {
	position:absolute;
	top:2px;
	right:2px;
}*/
.tarefas-box {
	position:relative;
	display: block;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.tarefas-box:after {     
  opacity:0;
  content: "";
  position:absolute;
  z-index:-1;
  right:0px;
  bottom:20px;
  width:90%;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transition: all .275s ease-in-out;
  -o-transition: all .275s ease-in-out;
  transition: all .275s ease-in-out;
}
.tarefas-box img {
	max-width:60%;
}

.prioridades {
	padding:5px;
}
.tarefa-prioridade-cor {

}
#myModalTarefaVer .modal-footer {
  background-color:transparent;
}
.tarefas-acoes {
	opacity:0;
  /*background-color:blue !important;*/
  /*width:100%;*/
  /*padding:5px;*/
  /*transform: translateY(100%);*/
	-webkit-transition: all .275s ease-in-out;
    -o-transition: all .275s ease-in-out;
    transition: all .275s ease-in-out;
}

.tarefa-observacao, .obs-resposta {
  display:none;
}
.tarefas-box:hover .tarefas-acoes {
	opacity:1;
  /*transform: translateY(0%);*/
}
.tarefas-box:hover:after  {
	opacity:1;
}


/*.tarefas-box .body {
  font-family: 'Reenie Beanie';
  font-size:22px;
}*/

.tarefas-single {
  cursor:pointer;
}

.tarefas-single .btn-edit {
  opacity:0;
}

#tarefa_gravar {
  margin-top:5px;
}
.projetos-acoes-btn {
  /*font-size:22px;*/
}
.projetos-box {
  overflow:hidden;
}
.projetos-box .tarefas-box {
  transition: transform 0.4s;
}
.projetos-box .tarefas-box:hover {
  transform: translateY(-50px);
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.carousel-control.right span, .carousel-control.left span {
  color:rgba(0,0,0,.3);
}

.carousel-indicators {
  
}

.carousel-indicators {
    top:-50px;
}

.carousel-indicators li {
  background-color:#337AB7;
  border-radius:initial;
  opacity:.5;
  width:15px; 
  height:15px;
}
.carousel-indicators li.active {
  background-color:#337AB7;
  border:1px solid black;
  opacity:1;
  width:17px; 
  height:17px;
}

.carousel-control {
    /*position: absolute;*/
    top: -20px;
    bottom: initial; 
    /*left: 0;*/
     width: auto; 
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  font-size:17px;
}

.panel {
  border-radius:initial;
  border:initial;
}
.panel:after {     
  content: "";
  opacity: 1;
  position:absolute;
  z-index:-1;
  right:1px;
  bottom:25px;
  width:90%;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transition: all .275s ease-in-out;
  -o-transition: all .275s ease-in-out;
  transition: all .275s ease-in-out;
}

/*.tarefa-individual-box {
  opacity:1;
}*/

/*.item:hover .tarefa-individual-box:after  {
  opacity:1;
}*/


.panel-heading small {
  display:block;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: initial; 
    border-top-left-radius: initial; 
    border-top-right-radius: initial;
}
.panel-title {
    font-size:22px;
}

.panel-body {
  padding-top:50px;
}

.tarefa-avatar {
  width:50px;
  height:50px;
  margin-right:5px;
}

.img-thumbnail {
padding:2px;
border:initial;
}

.icone-thumbs {
  color:#337ab7;
}

/* PINO DOS BOXES DOS PROJETOS */

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;
  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);
  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

/* checkbox style */

/* Container */

span.switch {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 105px;
  height: 30px;
  vertical-align: middle;
}
/* Background image */
span.switch .background {
  background: url('../images/switch-background.png');
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 161px;
  height: 30px;
}
/* Mask */
span.switch .mask {
  background: url('../images/switch-mask.png');
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 30px;
}
