.projetos-sucesso {
	padding:5px;

}
.prioridades-radio {
	padding:5px;
}

li.select2-selection__choice {
  background-color:#0092db !important;
  color:white;
  border:none !important;
}	
span.select2-selection__choice__remove {
	color:white !important;