/* CONTAINER FOR LARGE LOGO IMAGES FIX */
/*.navbar-brand {
  padding: 0px; 
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}*/
body {
  padding-top: 55px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.icone-usuario {
	color:white;
}
.radios {
	margin-bottom:10px;
}
