/*.navbar-brand {
  padding: 0px; 
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}*/

body {
  padding-top: 55px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.icone-usuario {
	color:white;
}
.cor-coluna {
	/*padding:10px 0;*/
}
/*.cor-coluna:nth-child(2n) {
	background-color:#f0f0f0;
}
.cor-coluna:nth-child(2n+1) {
	background-color:green#e0e0e0;
}*/
.caption h3 {
	/*margin-top:-5px;*/
}
.radios {
	margin-bottom:10px;
}
.tarefas-menu {
	list-style:none;
	width:100%;
	margin:10px auto;
	padding:0;
}
.tarefas-item {
	position:relative;
	padding:10px;
}
.tarefas-item:nth-child(2n) {
	background-color:rgb(240,240,240);
}
.tarefas-item:nth-child(2n+1) {
	background-color: rgb(200,200,200);
}
.tarefas-remover {
	position:absolute;
	top:1px;
	right:22px;
}
.tarefas-menu .tarefas-remover {
	position:absolute;
	top:2px;
	right:2px;
}
.tarefas-box {
	position:relative;
	display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    /*border: 1px solid #ddd;*/
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.tarefas-box:after {     
   content: "";
  position:absolute;
  z-index:-1;
  right:0px;
  bottom:20px;
  width:90%;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
-moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
 -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
     -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
         transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.tarefas-box img {
	max-width:60%;
}

#projeto-add-tarefa {
	display:none;
}
.form-head-next {
	display:none;
}
form {
	margin:10px auto;
}
.usuario-adicionar .avatar {
	display:block;
}