.tarefas-box {
	position:relative;
	display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.tarefas-box:after {     
  content: "";
  position:absolute;
  z-index:-1;
  right:0px;
  bottom:20px;
  width:90%;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}
.tarefas-box img {
	max-width:60%;
}
/*#projeto-add-tarefa {
	display:none;
}
.form-head-next {
	display:none;
}
form {
	margin:10px auto;
}*/